/* --- Estilo PAGE CONTACTS --- */
.contact-header {
    text-align: center;
    margin-bottom: 40px;
}

.contact-header h1 {
    font-size: 2.5rem;
    color: #28a745;
    margin-bottom: 10px;
}

.contact-info-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 40px;
    justify-content: center;
}

.contact-card {
    flex: 1;    
    background: #fdfdfd;
    padding: 35px 25px;
    border-radius: 15px;
    text-align: center;
    border: 2px solid #f8f0fa;    
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    box-shadow: 0 4px 10px rgba(0,0,0,0.02)
}

.contact-card:hover {
    transform: translateY(-5px);
    border-color: #28a745;
    box-shadow: 0 15px 30px rgba(40, 167, 69, 0.15);
}

.contact-icon {
    font-size: 2.5em;
    color: #28a745;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.contact-card:hover .contact-icon {
    transform: scale(1.2) rotate(10deg);
}

.btn-contact-link {
    display: inline-block;
    margin-top: 15px;
    color: #28a745;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.btn-contact-link:hover {
    text-decoration: underline;
    letter-spacing: 0.5px;
}

/* FORMULÁRIO */
.btn-send {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    transition: 0.3s;
}

.btn-send:hover {
    background-color: #218838;
}

/* Responsividade */
@media (max-width: 768px) {
    .contact-info-cards {
        flex-direction: column;       
    }   
}