@page
@model ProjetoAssembly_Final.Pages.contactsModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Contactos";
}

<main class="container">
    <section id="contact">
        <h1>Contactos</h1>
        <div class="contact-container">
            <div class="contact-card">
                <div class="contact-icon">📞</div>
                <h3>Telefone</h3>
                <a href="tel:916781293" class="btn">916 781 293</a>
            </div>
            <div class="contact-card">
                <div class="contact-icon">✉️</div>
                <h3>E-mail</h3>
                <a href="mailto:fredericocrf87@hotmail.com" class="btn">Enviar E-mail</a>
            </div>
        </div>
    </section>
</main>
